/*----------sidinställningar----------*/
header h1 {
    text-align:center;
    text-shadow: 2px 2px 0 #1F1D1D;
    color: #808080;
}

footer {
    text-align:center;
    font-size: small;
}

#maincontainer {
    width: 1200px;
    height: auto;
    margin: auto;
	padding: 20px;
	font-family: "Verdana", "Arial", sans-serif;
    -moz-box-shadow: 0 0 5px 10px rgba(25,25,25,0.1);
    -webkit-box-shadow: 0 0 5px 10px rgba(25,25,25,0.1);
    box-shadow: 0 0 5px 10px rgba(25,25,25,0.1);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.03, #BDBDBD), color-stop(1, #FFF)); 
    background: -webkit-linear-gradient(top, #BDBDBD 30%, #FFF 100%);
    background: -moz-linear-gradient(top, #BDBDBD 30%, #FFF 100%);
    background: -o-linear-gradient(top, #BDBDBD 30%, #FFF 100%);
	background: linear-gradient(#BDBDBD 30%, #FFF 100%);
}

.linkbutton {
	margin: 5px;
    padding: 5px;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 11px;
    color: #FFF;
	-moz-box-shadow: 0 0 4px 0 #777;
	-webkit-box-shadow: 0 0 4px 0 #777;
	box-shadow: 0 0 4px 0 #777;
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #263966), color-stop(1, #79bbff) );
	background: -webkit-linear-gradient(top, #263966 5%, #79bbff 100%);
	background:-moz-linear-gradient( center top, #263966 5%, #79bbff 100% );
	background: -o-linear-gradient(top, #263966 5%, #79bbff 100%);
	background: linear-gradient(#263966 5%, #79bbff 100%);
}

#maincontent {
    width: 700px;
    margin-left: 30px;
    font-size: 12px;
}

.details {
    margin-bottom:20px;
}

.actionwrapper {
    margin-top: 75px;
}

.caselabel,
.detailslabel {
    font-weight: 900;
    margin-bottom: 5px;
}

/*-----------Formulärinställningar---------------*/
.textbox {
    margin-bottom: 12px;
    padding: 5px;  
    border: solid 1px #EEE;  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.03, #DDD), color-stop(1, #FFF)); 
    background: -webkit-linear-gradient(top, #DDD 30%, #FFF 100%);
    background: -moz-linear-gradient(top, #DDD 30%, #FFF 100%);
    background: -o-linear-gradient(top, #DDD 30%, #FFF 100%);
	background: linear-gradient(top, #DDD 30%, #FFF 100%);
	-moz-box-shadow: rgba(0,0,0, 0.3) 0 0 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.3) 0 0 8px;
    box-shadow: rgba(0,0,0, 0.3) 0 0 8px; 
	-webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;
}
 #btnwrapper {
     margin-top: 10px;
 }

 .links {
     margin: 10px;
 }

a:link {
    color:#FFF;
}

a:hover {
    color: #00ff90;
}

.linkwrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*--------tabellinställningar---------*/

.formwrapper {
    margin-bottom: 50px;
}

table
{
    margin-left: 6px;
    width: 80%;
    border-collapse: collapse;
}

td, th
{
    padding: 10px 5px;
    text-align: left;
}

/*----------valideringsinställningar-----------*/
.validate {
    color: #ff0000;
}

.status {
	height: 70px;
}

.statusmsg {
	color: #4800ff;
	font-weight: 900;
    font-size: 17px;
}

/*<---------Styling errorsidan--------->*/
#header, 
#error, 
h2, 
a {
    font-family: "Verdana", "Arial", sans-serif;
}