#maincontainer {
    width: 1300px;
    margin: auto;
}

#maincontent {
    height: 600px;
}

#footer {
    margin:auto;
    text-align: center;
}

table
{
    margin-left: 6px;
    width: 80%;
    border-collapse: collapse;
}

td, th
{
    padding: 10px 5px;
    text-align: left;
}

